@font-face {
  font-family: PlayfairDisplay;
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: PlayfairDisplayBold;
  src: url(fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-VariableFont_wdth\wght.ttf);
}

:root {
  --shadow: #595959;
  --main-color: #ff003b;
  --purple: #7b2cf7;
  --orange: #fd614a;
  --black: #000;
  --white: #fff;
  --footer: #003e5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  min-height: 100vh;
  background-color: #f8f9fa;
  font-family: Roboto, sans-serif;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 22%;
  background-color: transparent;
  background-image: radial-gradient(
      circle at 20% 30%,
      var(--main-color) 30%,
      transparent 50%
    ),
    radial-gradient(circle at 80% 40%, var(--purple) 30%, transparent 50%),
    radial-gradient(circle at 50% 60%, var(--orange) 40%, transparent 90%);
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  animation: lavaMotion 10s ease-in-out infinite;
  transform: skewY(-10deg);
  transform-origin: top left;
  box-shadow: 0rem 0.1rem 1rem var(--shadow);
}

@keyframes lavaMotion {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.profile-image {
  position: relative;
  width: 100%;
  max-width: 320px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0rem 0.1rem 1rem var(--shadow);
  border-radius: 0.2rem;
}

.image-name {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-family: PlayfairDisplayBold;
  font-size: 2.8rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.profile-card {
  background-color: var(--white);
  padding: 3rem;
  box-shadow: 0 0.1rem 1rem var(--shadow);
  max-width: 700px;
  width: 100%;
}

.profile-content h2 {
  font-family: PlayfairDisplayBold;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  color: var(--main-color);
  letter-spacing: -0.5px;
}

.profile-content p {
  font-family: Roboto;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #444;
  margin-bottom: 2rem;
}

.profile-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding-top: 1rem;
}

.profile-icons a {
  transition: all 0.3s ease;
  color: var(--main-color);
}

.profile-icons i {
  font-size: 2rem;
}

.profile-icons a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.work-section {
  padding: 2rem 15%;
}

.work-section h1 {
  text-align: start;
  font-size: 3rem;
  font-family: PlayfairDisplayBold;
  color: var(--black);
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.grid-container article {
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 1rem var(--shadow);
  overflow: visible;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

.grid-container article:hover {
  transform: scale(1.05);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.grid-container article:hover::after,
.grid-container article:hover::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--purple),
    var(--orange),
    var(--main-color)
  );
  inset: -5px;
  z-index: -1;
  animation: 4s spin linear infinite;
}

.grid-container article:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.grid-container article img {
  width: 100%;
  object-fit: cover;
}

.grid-container .text {
  padding: 1.5rem;
  flex-grow: 1;
  position: relative;
  z-index: 0;
}

.grid-container article:hover .text {
  background-color: var(--white);
  position: relative;
  z-index: 1;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.project-header .title {
  margin: 0;
  font-family: PlayfairDisplayBold;
  font-size: 1.6rem;
  color: var(--black);
}

.project-header .project-icons {
  display: flex;
  gap: 1rem;
}

.project-header .project-icons a {
  color: var(--black);
  transition: all 0.3s ease;
}

.project-header .project-icons a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.project-header .project-icons i {
  font-size: 1.7rem;
}

.grid-container .text p {
  font-family: Roboto;
  font-size: 1.2rem;
  color: #444;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 15%;
  background-color: var(--footer);
  margin-top: 5rem;
  gap: 4rem;
}

.footer-info {
  flex: 1;
}

.footer-info h2 {
  font-family: PlayfairDisplayBold;
  font-size: 2.8rem;
  color: var(--main-color);
  margin-bottom: 2rem;
}

.footer-info .contact-message {
  margin-bottom: 2rem;
}

.footer-info .address {
  margin-bottom: 3rem;
}

.footer-info .address p {
  margin-bottom: 0.2rem;
}

.footer-info p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.footer-info .social-icons {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.footer-info a {
  color: var(--main-color);
  font-size: 3rem;
}

.footer-info a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.footer-info i[class*="fa-phone"],
.footer-info i[class*="fa-envelope"] {
  margin-right: 1rem;
  color: var(--main-color);
  font-size: 2rem;
}

footer img {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 1rem var(--shadow);
}

/* Responsive */
@media (max-width: 900px) {
  body::before {
    transform: skewY(-30deg);
  }
  .profile-container {
    flex-direction: column;
    gap: 2rem;
  }

  .profile-card {
    padding: 2rem;
  }

  .image-name,
  .profile-content h2 {
    font-size: 2.4rem;
  }

  .profile-content p {
    font-size: 1.5rem;
  }

  .profile-icons {
    justify-content: center;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .work-section h1 {
    text-align: center;
  }

  footer {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 2rem 2rem 0;
    margin-top: 0;
    gap: 0;
  }

  .footer-info {
    padding: 0 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .footer-info .social-icons {
    justify-content: center;
  }

  footer img {
    width: 100vw;
    margin-left: -2rem;
    margin-right: -2rem;
    border-radius: 0;
    box-shadow: none;
    object-fit: cover;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
